.dashboard-root {
  display: grid;
  grid-template-columns: 18% 50%;
  background-color: inherit;
}

.sideNavBar-container {
  position: sticky;
  top: 0;
  height: 100vh;
}

.main-content-container{
  padding: 0 28px;

}