.dashboard-root {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: inherit;
}

.sideNavBar-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
}

.main-content-container{
  padding: 0 28px;
}