
.input-container{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 0;
  width: 100%;
}

.input-border {
  border: 2px solid  rgb(180, 180, 180);
  border-radius: 3px;
  width: 100%;
}

.input-group{
  display: flex;
  gap: 12px;
}

textarea.input-border{
  resize: none;
  height: 120px;
}

textarea.review{
  height: 60px;
}

.form-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.form-btn-container button{
  width: 6rem;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn{
  background-color:#dfd8fd;
}

.cancel-btn {
  color: #DB5757;
}