@import url('//fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #242424;

}

#root {
  height: 100vh;
  background-color: #fdfdfd;

}

body {
  height: 100%;
}

.secondary-text{
  color: #7c8085;
}

a {
  text-decoration: none;
}