@import url('//fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro');

* {
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}

#root {
  height: 100vh;
}

.body {
  height: 100%;
}

.dashboard {
  height: calc(100% - 80px);
  padding: 0 3rem;
}

.MuiGrid-root.MuiGrid-container {
  margin-top: 24px;
  padding: 0 3rem;
}

.MuiGrid-root.MuiGrid-item {
  padding-top: 0 !important; 
}