.greet-box {
  margin: 0 0 20px;
}

.greet-box p:first-of-type {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
}

.add-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 70%;
}

.MuiButtonBase-root.MuiButton-contained {
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 400;
  width: 150px;
  box-shadow: none;
}
