.greet-box {
  margin: 28px 0 40px;
}

.greet-box p:first-of-type {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 4px;
}

.add-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(70% + 48px);
}
.MuiButtonBase-root.MuiButton-contained {
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 400;
  width: 150px;
  box-shadow: none;
}
