.side-navbar{
  height: 90%;
  width: 100%;
  padding: 2rem 2.5rem 0;
}

.logo-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
  margin-left: 12px;
}

.logo-container p{
  font-size: 25px;
  font-weight: 600;
}

.avatar-container {
  text-align: center;
}

.user-name {
  font-size: 20px;
  margin: 10px 0 14px 0;
}

.MuiSvgIcon-root.logo{
  font-size: 32px;
}

.sideNavBar-container::-webkit-scrollbar {
  width: .5em;
}

.sideNavBar-container::-webkit-scrollbar-track {
  box-shadow: none;
}

.sideNavBar-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

.MuiList-root::-webkit-scrollbar {
  width: .5em;
}

.MuiList-root::-webkit-scrollbar-track {
  box-shadow: none;
}

.MuiList-root::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 18px;
}

.MuiButtonBase-root.MuiListItemButton-root {
  width: 90%;
  border-radius: 20px;
}

.MuiButtonBase-root.MuiButton-contained {
  font-family: inherit;
  text-transform: capitalize;
  border-radius: 20px;
  margin: 0 0 16px 12px;
  font-weight: 400;
  width: 100%;
  box-shadow: none;
}

.MuiAvatar-root.MuiAvatar-circular {
  border: 3px solid #c0acf3;
}