.side-navbar{
  max-height: 100%;
  padding: 2rem 0 0 2.5rem;

}

.logo-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
  margin-left: 12px;
}

.logo-container p{
  font-size: 25px;
  font-weight: 600;
}

.MuiSvgIcon-root.logo{
  font-size: 32px;
}

.sideNavBar-container::-webkit-scrollbar {
  width: .5em;
}

.sideNavBar-container::-webkit-scrollbar-track {
  box-shadow: none;
}

.sideNavBar-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

.MuiList-root::-webkit-scrollbar {
  width: .5em;
}

.MuiList-root::-webkit-scrollbar-track {
  box-shadow: none;
}

.MuiList-root::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}