@import url('//fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: #e6e6e6;
  color: #201e1e;
}

.secondary-text{
  color: #7c8085;
}

a {
  text-decoration: none;
  color: inherit;
}

body::-webkit-scrollbar {
  width: .5em;
  overflow: hidden;
}

body::-webkit-scrollbar-track {
  box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

p span {
  color: #201e1e;
}

/* Small components */

.error-section .MuiSvgIcon-root{
  color: #d45f5f;
  font-size: 4rem;
}

.error-section {
  width: 100%;
  padding-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.error-section .MuiButtonBase-root {
  background-color: black;
  width: 10rem;
}